@import "tailwindcss";

@theme {
  /* 
   * Mapping Next.js CSS variables to Tailwind font families.
   * Now you can use `font-heading`, `font-serif`, and `font-sans` in your code!
   */
  --font-heading: var(--font-eb-garamond);  /* Headlines */
  --font-serif: var(--font-source-serif);   /* Body text */
  --font-sans: var(--font-inter);           /* Labels, UI elements, Buttons */
}